# -----------------------------------------------------------------------------
# Taller de Programación I - TP Final
# Repositorio: https://github.com/mauro7x/taller_final
# -----------------------------------------------------------------------------

# Excluimos archivos sin extensión --------------------------------------------
*
!/**/
!*.*

# Extensiones -----------------------------------------------------------------
*.o
*.exe
*.cfg

# Directorios -----------------------------------------------------------------
.vs
.vscode
build

# Cpplint ---------------------------------------------------------------------
cpplint.py
execute.sh
filter_options

# Dejamos archivos específicos ------------------------------------------------
!convenciones.txt
!CMakeLists.txt
