# -----------------------------------------------------------------------------
# Taller de Programación I - TP Final
# Repositorio: https://github.com/mauro7x/taller_final
# -----------------------------------------------------------------------------

# Excluimos archivos sin extensión --------------------------------------------
*
!/**/
!*.*

# Extensiones -----------------------------------------------------------------
*.o
*.exe
*.zip
*.txt

# Directorios -----------------------------------------------------------------
.vscode
build
Assets/Index
Assets/Sprites

# Cpplint ---------------------------------------------------------------------
cpplint.py
execute.sh
filter_options

# Dejamos archivos específicos ------------------------------------------------
!convenciones.txt
!CMakeLists.txt
# -----------------------------------------------------------------------------
